* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  background-color: #008BBB;
}

.search-bar-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.title {
  color: white;
  margin-top: 10px;
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* position: absolute; */
  margin: auto;
}

.title-name {
  color: white;
}

.home-icon {
  width: 3vw;
  margin-right: 1vw;
  margin-left: 3vw;
}

.acount-icon {
  width: 3vw;
  margin-right: 2vw;
  margin-left: 15vw;
}

.username {
  width: 35px;
  font-size: 14px;
  margin-left: 6vw;
  position: relative;
}

.usernames {
  text-align: center;
  color: white;
}

.logout-icon {
  width: 3vw;
  margin-left: 1vw;
  margin-right: 3vw;
}

/* .chat {
  margin-left: 8vw;
  text-decoration: none;
  border: 1px solid white;
  color: white;
  padding: 10px;
} */

.search-form {
  width: 22vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
  /* margin-right: 4vw; */
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 8px;
}

.search-icon {
  width: 100%;
}


.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.brand-list {
  text-decoration: none;
  color: #333333;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}