<%= render "shared/header" %> 
<%# #ヘッダーの表示 %>

<%# 以下、メイン画面 %>
<div class="wrapper">
  <div class="customer-info-bar">
    <%# 顧客の基本情報がここから %>
    <div class="customer-basic">
      <div class="customer-design">
        <div class="customer-lavel">
          <span class="main-lavel">　Basic information</span>
        </div>
      </div>
      <div class="customer-info">
       <ul> 
        <li>会社名  初受注日</li>
        <li>住所</li>
        <li>業種  従業員数</li>
        <li>売上  決算時期</li>
        <li>利用製品</li>
       </ul>
      </div>
    </div>
    <%# 顧客の基本情報がここまで %>

    <%# 先方関係者がここから %>
    <div class="project">
      <div class="project-design">
        <div class="project-lavel">
          <span class="main-lavel">　先方関係者</span>
        </div>
      </div>
      <div class="project-info">
       <ul> 
        <li></li>
        <li></li>
        <li></li>
        <li></li>
       </ul>
      </div>
    </div>
    <%# 先方関係者がここまで %>

    <%# グループ会社がここから %>
    <div class="team">
      <div class="team-design">
        <div class="team-lavel">
          <span class="main-lavel">　グループ会社</span>
        </div>
      </div>
      <div class="team-info">
       <ul> 
        <li></li>
        <li></li>
        <li></li>
       </ul>
      </div>
    </div>
    <%# グループ会社がここまで %>

    <%# トラブル＆クレームがここから %>
    <div class="team">
      <div class="team-design">
        <div class="team-lavel">
          <span class="main-lavel">　トラブル/クレーム一覧</span>
        </div>
      </div>
      <div class="team-info">
       <ul> 
        <li></li>
        <li></li>
        <li></li>
       </ul>
      </div>
    </div>
    <%# トラブル＆クレームがここまで %>

    <%# 受注歴がここから %>
    <div class="team">
      <div class="team-design">
        <div class="team-lavel">
          <span class="main-lavel">　受注歴</span>
        </div>
      </div>
      <div class="team-info">
       <ul> 
        <li></li>
        <li></li>
        <li></li>
       </ul>
      </div>
    </div>
    <%# 受注歴がここまで %>

    <%# 突起事項・引継事項がここから %>
    <div class="team">
      <div class="team-design">
        <div class="team-lavel">
          <span class="main-lavel">　突起事項・引継事項</span>
        </div>
      </div>
      <div class="team-info">
       <ul> 
        <li></li>
        <li></li>
        <li></li>
       </ul>
      </div>
    </div>
    <%# 受注歴がここまで %>

    <div class='chat-btn'>
      <span class='chat-btn-text'>チャット</span>
      <a href= "">
      <%= image_tag 'chat.png' , size: '185x50' ,class: "chat-btn-icon" %>
      </a>
    </div>

    <div class='purchase-btn'>
      <span class='purchase-btn-text'>追加</span>
      <a href= "">
      <%= image_tag 'plus.png' , size: '185x50' ,class: "purchase-btn-icon" %>
      </a>
    </div>
  </div>
</div>